
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody> 
        {% for item in order %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ '%.2f' | format(item[1]) }}</td>
            <td>{{ '%.2f' | format(item[3]) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: ${{ '%.2f' | format(total) }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
